body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 10%;

}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: gold;
}

.squares {
    width: 10px;
    height: 10px;
    border: 1px black solid;
}

footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
}